name: ci

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always
  RUST_VERSION_STABLE: 1.83.0
  CRATE_PATHS: .

jobs:
  test:
    name: test
    permissions:
      contents: read
      checks: write    # Required for test results
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - uses: dtolnay/rust-toolchain@stable
    - run: cargo test

  format:
    name: format
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt
    - run: cargo fmt --check

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: clippy
    - run: cargo clippy